body {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background: rgb(25, 25, 25);
}

h1 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
    padding-left: 50px;
}

.overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
}

.arrow-img-arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrow {
    height: 2rem;
    cursor: pointer;
    position: relative;
    top: calc(50% - 2rem);
    z-index: 3;
    font-size: 24px;
    font-weight: bold;
}

.mini-canvas {
    z-index: 2;
    background: rgb(204, 1, 99);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    border-radius: 25px;
    width: 300px;
    height: 500px;
}

.canvas {
    padding: 50px;
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgb(204, 1, 99);
    background-image: url(img/background.jpg);
}

.wrap {
    display: flex;
    align-items: center;
    width: 150px;
    height: 250px;
    padding: 8px;
    box-sizing: content-box;
}

.wrap-nohover {
    display: flex;
    align-items: center;
    width: 250px;
    height: 450px;
    padding: 16px;
    background: rgb(204, 1, 99);
    box-sizing: content-box;
}

footer {
    background: rgb(25, 25, 25);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 16px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
}

.btn {
    border: none;
    cursor: pointer;
    margin-top: 24px;
    border-radius: 15px;
    align-self: center;
    color: white;
    font-size: larger;
    background: rgb(211, 0, 88);
    width: fit-content;
    padding: 0px 8px;
    height: 50px;
}

.btn:hover {
    background: rgb(238, 130, 164);
}

.d-none {
    display: none !important;
}

.d-flex {
    display:flex;
}

.lightgreen {
    background: lightgreen;
}

.green {
    background: green;
}

.rotate {
    transform: rotate(3600deg);
    transition: all 5s ease-in;
}

.border-green {
    border: 2px solid rgb(25, 71, 196);
    box-shadow: 4px 4px 4px rgb(25, 71, 196);
}

.arena {
    z-index: 2;
    display: flex;
    background: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    border-radius: 25px;
    width: 1px;
    height: 1px;
    background: #ccc;
    transition: all 1s ease-in;
}

.big {
    width: 800px;
    height: 600px;
    transition: all 2s ease-out;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.samll {
    width: 1;
    height: 1;
    transition: all 1s ease-in;
}

.attackbtn {
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 15px;
    background: rgb(55, 55, 55);
    width: 150px;
    height: 30px;
}

.attackbtn-inactive {
    background: rgb(170, 167, 167);
    cursor: default;
    color: #ccc;
}

.attackbtn-inactive:hover {
    background: rgb(170, 167, 167) !important;
}

.attackbtn:hover {
    background: rgb(80, 80, 80);
}

.movebtn {
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 15px;
    background: rgb(211, 0, 88);
    width: 150px;
    height: 30px;
}

.movebtn:hover {
    background: rgb(238, 130, 164);
}

.movebtn:focus {
    border: 2px solid black; 
}

.move-container {
    position: relative;
    bottom: -240px;
    display: flex;
}

.arena-menu-right {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    width: 150px;
    padding-left: 16px;
}

.arena-menu-left {
    width: 150px;
    padding: 16px;
}

.no-br {
    border-radius: 0;
}

.no-bottombr {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.no-topbr {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.move-buttons {
    display: flex;
    flex-direction: column;
}

.move-img-left {
    transform: translateX(-30px);
    transition: all 225ms ease-in;
}

.move-img-right {
    transform: translateX(30px);
    transition: all 225ms ease-in;
}

.turn-img-round {
    transform: rotate(180deg);
    transition: all 225ms ease-in;
}

.drop-img-down {
    transform: translateY(500px);
    transition: all 300ms ease-in;
}

.hit {
    filter: opacity(50%);
}

.searchbar-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    flex-wrap: wrap;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 50px;
    padding-right: 50px;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    height: 32px;
    padding: 8px;
    border-radius: 15px;
}

#searchbar {
    height: 30px;
    width: 200px;
    margin-right: 8px;
    border: none;
    outline: none;
}

#cancelSearch {
    background: white;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.mute {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.mutebtn {
    background: rgb(204, 1, 99);
    color: white;
    border: none;
    border-radius: 15px;
    height: 40px;
    cursor: pointer;
}

.winner {
    background-image: url(img/winner.png);
}

.loading {
    z-index: 99;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadtext {
    color: white;
}

.ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s infinite;
}

@keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}

.ring::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}


@media only screen and (max-width: 500px) {
    
    .arena {
        padding: 8px;
    }

    .big {
        width: 100vw;
        height: 100vh;
    }
}

@media screen and (width < 600px) {
    .arena {
        border-radius: unset;
    }
}